body {
    background-color: #2C2D41;
      color: #c6d3e2;
      font-family: 'Tomorrow', sans-serif;
      line-height: 1.5;
    }

h2 {
    margin: 20px 60px;
}

h3 {
    color: #EBF272;
}
    
li a, li a:visited {
    color: #c6d3e2;
}

h2 a, h2 a:visited {
    color: #EBF272;
}

code {
    display: block;
    text-align: left;
    white-space: pre;
    line-height: 2;
    background-color: #c6d3e2;
    color: #2C2D41;
    padding: 15px;
    margin: 10px;
  }

#navbar {
   position: fixed;
   top: 0px;
   left: 0px;
   width: 390px;
   height: 100%;
   border-right: solid;
   border-color: #EBF272;
   color: #EBF272;
 }

 header {
    margin: 10px;
    text-align: center;
  }

  em {
    background-color:#494a5f;
  }
  
  #main-doc header {
    text-align: left;
    margin: 0px;
  }
  
  #navbar ul {
    padding: 0;
    margin: 0 30px;
    overflow-y: auto;
    overflow-x: hidden;
  }
 
 #navbar li {
   width: 330px;
   border-top: 1px solid;
   list-style: none;
   position: relative;
   width: 100%;
 }
 
 #navbar a {
   width: 330px;
   display: block;
   padding: 10px 30px;
   color: #EBF272;
   text-decoration: none;
   cursor: pointer;
 }

 #main-doc {
   position: absolute;
   margin-left: 440px;
   padding: 20px;
   margin-bottom: 110px;
 }

@media only screen and (max-width: 815px) {
    #navbar ul {
        border: 1px solid;
        height: 200px;
        margin: 0;
    }
    
    #navbar {
        position: absolute;
        top: 0;
        padding: 0;
        margin: 0;
        width: 100%;
        max-height: 275px;
        border: none;
        z-index: 1;
        border-bottom: 2px solid;
    }
    
    #main-doc {
        position: relative;
        margin-left: 0px;
        margin-top: 270px;
    }
}