body {
    background-color: #2C2D41;
    color: #839CB9;
    font-family: 'Tomorrow', sans-serif;
    margin: 0px;
    padding: 0px;
}
  
h1 {
    font-size: 3em;
    color: #EBF272;
    margin: 20px 0 0 0;
}
  
h1, h2, nav {
    text-align: center;
}

h4 {
    color: #EBF272;
    text-align: left;
}

nav {
    position: fixed;
    width: 100%;
    min-height: 75px;
    margin: 0px;
    padding: 0px;
    background-color: #2C2D41;
}

nav ul {
    list-style: none;
    margin: 8px auto;
    padding: 0px;
}
    nav ul li {
        display: inline-flex;
        padding: 6px 12px;
        cursor: pointer;
    }
        nav a {
            color: #EBF272;
        }

header img {
    position: absolute;
    top: 70px;
    right: 0px;
}

main {
    background-color: #2C2D41;
    padding-top: 70px;
    width: 717px;
    margin: 0 auto;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #EBF272;
    border-radius: 4px;
    box-sizing: border-box;
}

#submit {
    background-color: #EBF272;
}

#video {
    border: 0;
}

@media screen and (max-width: 1300px) {
    header img {
        display: none;
    }
}